

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

h1 {
    font-family: Neonderthaw;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

h1:hover {
    color: magenta;
    font-size: 60px;
}